h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3d1e0e;
}
.menu{
    position:absolute;
    top:22%;
    left:79.2%;
    z-index: 2;
    
}
.butmenu button{
    position: absolute;
    width: 203px;
    height: 57px;
    background: linear-gradient(#FFECD5, #DEC3A1);
    top: 150px;
    left:1100px;
    border-radius: 20px;
    border: none;
    padding:0%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    
}

.settings{
    position: absolute;
    top: 22%;
    left: 61%;

}
.persona{
    position: absolute;
    top: 22%;
    left: 30%;

}
.book{
    position: absolute;
    top: 22%;
    left: 6%;
    
}
.igra button{
    position: absolute;
    background: none;
    border: none;
    background-repeat: no-repeat;
    opacity: 100%;
    margin-top: -2em;
    margin-left: 3.7em;
    
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'Lora';
    font-size: 20px;
}
.otv button{
    position: absolute;
    width: 316px;
    height: 57px;
    background: linear-gradient(#FFECD5, #DEC3A1);
    top: 150px;
    left: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: inset;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    
    
    
}



.pers button{
    position: absolute;
    width: 216px;
    height: 57px;
    background: linear-gradient(#FFECD5, #DEC3A1);
    top: 150px;
    left: 400px;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);

}

.pers:hover, .pers:focus{
    background-color: #d0997d;
    a{color:#dfa589};
    
}
.nast:hover, .nast:focus{
    background-color: #d0997d;
    a{color:#dfa589};
    
}

.nast button{
    position: absolute;
    width: 203px;
    height: 57px;
    background: linear-gradient(#FFECD5, #DEC3A1);
    top: 150px;
    left: 850px;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);

}

.nast:hover, .nast:focus{
    background-color: #d0997d;
    a{color:#dfa589};
    
}
.otv:hover, .otv:focus{
    background-color: #d0997d;
    a{color:#dfa589};
    
}
.butmenu:hover, .butmenu:focus{
    background-color: #d0997d;
    a{color:#dfa589};
    
}

.igra button{
   position: absolute;
   top: 150px;
   left: 600px;
   background: none;
   border: none;
}

.text1{
    position: absolute;
top: 50px;
left: 120px;

padding: 10px;
border-radius: 5px;
color: #000;
font-size: 16px;
}
.container{
    width: 1480px;
    height: 292px;
    background-image: url(shapka1.png);
    background-size: contain;
    background-repeat: no-repeat;
}


body{
    background-color: #DFC4A3;
}
#foto2{
    position: relative;
    top: -250px;
    right: -25px;

}
.imagine button{
    position:absolute;
    top: -250px;
    right: -25px;
    border: none;
    background: none;
}
